<div class="chat-top">
  <div class="left-header">
    <div class="current-room">
      モンハン1
    </div>
  </div>
  <div class="right-header">
    <div class="chat-end-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat-center">
  <div class="chat-messages">
    <div class="upper-message">
      <div class="chat-name">
        Pom
      </div>
      <div class="chat-datetime">
        2023/09/20(Wed) 17:54:00
      </div>
    </div>
    <div class="lower-message">
      <div class="message">
        一狩り行こうぜ！
      </div>
    </div>
  </div>

  <div class="chat-messages">
    <div class="upper-message">
      <div class="chat-name">
        Hyam
      </div>
      <div class="chat-datetime">
        2023/09/20(Wed) 18:00:00
      </div>
    </div>
    <div class="lower-message">
      <div class="message">
        何狩りに行く？？
      </div>
    </div>
  </div>
</div>

<div class="chat-bottom">
  <div class="form-input">
    <input class="text-form" placeholder="type a message">
    <label class="image-form">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="text-btn" type="submit" value="送信">
</div>