<div class="side-bar-top">
  <div class="user-name">
    <a href="#">Pom</a>
  </div>
  <div class="chat-create-btn">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side-bar-main">
  <div class="room">
    <div class="room-name">
      <a href="#">モンハン1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">モンハン2</a>
    </div>
  </div>
</div>