.wrapper {
  display: flex;
}

/******************************************** 
 サイドバー
*********************************************/
.side-bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side-bar-top {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.chat-create-btn a {
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.side-bar-main {
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  color: white;
  text-decoration: none;
}

/******************************************** 
 メインチャット
*********************************************/
.chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.chat-top {
  height: 100px;
  padding: 0 40px;
}

.chat-center {
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}

.chat-bottom {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}